#header_nav a {color:black;}

header {width:1400px;}

#header_nav {
  float:right;
  margin-top:70px;
  margin-right:600px;
  font-size:13px;
}

#header_nav li:hover, #header_nav li a:hover{color:#AAA;}

header a img{
  width:150px;
  height:150px;
}

header ul li{
  display:inline;
  list-style-type:none;
  margin:0px 41px;
  padding:0px;
  height:30px;
  cursor:pointer;
}
#footer_nav ul li {
  display:inline;
  list-style-type:none;
  margin:0px 21px;
  padding:0px;
  height:30px;
  cursor:pointer;
}

footer {
  clear:both;
  font-size:13px;
  height:140px;
  position:relative;
  top:-50px;
}

#footer_nav {margin-left:10px;}

footer p {text-align:center;}

footer > span {margin-left:600px;}

#index {
    width:780px;
    margin: 0px auto;
    height:1000px;
}

#abc {
  float:right;
}
#ab{
  color:rgb(4, 39, 89);
}
